<section class="no-padding" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading"><%= t 'about.sub_title' %></h2>
        <img src="assets/heidi.jpg" class="img-centered"  width="291" alt="Foto von Heidi Suter">
        <img src="assets/beat.jpg" class="img-centered" width="291" alt="Foto von Beat Suter">
        <hr class="primary">
            <h3>Allgemein sind wir...</h3>
            <p>verlässlich, zielorientiert, konsequent, integrativ, kreativ, kooperativ, stressresistent, begeisterungsfähig, zukunftsorientiert, lesefreudig, farbenliebend, anpassungsfähig, intuitiv, ausdauernd, gesellig, kinderliebend und wetterfest.</p>
            <h3>Speziell können wir...</h3>
            <p>Erfahrungen und Wissen weiter geben, beobachten, erzählen, beraten, besprechen, begleiten, durchhalten, begeistern, injizieren, träumen, inspirieren, planen, zeichnen, malen, logisch denken, strukturieren, texten, spontan handeln, durchhalten, abbauen, umbauen, putzen, improvisieren, kochen, backen, geniessen, jäten, gärtnern, stricken, nähen, flicken, reparieren, tanzen, musizieren, wandern, tandemfahren, einradfahren, skifahren, snowboarden, schneeschuhlaufen, zugfahren, autofahren, gleitschirmlen, schwimmen ...und faulenzen</p>
            <h3>Unbrauchbar sind wir...</h3>
            <p>an Stammtischrunden, als Fernsehkonsumenten, als Sportkommentatoren, als permanent Erreichbare und als Nacherzähler oder Gerüchteflüsterer</p>
            <h3>Konkret sind wir...</h3>
            <p>in einen weiteren neuen Lebensabschnitt eingetreten, wo die Pflicht aufgehört hat und das aktuell Antreibende und Begeisternde beginnen kann.<br>Wir wählen jetzt selber, wo wir künftig unsere Spuren hinterlassen möchten. Eine davon ist das Projekt Handzeit.<br>Wir sind Eltern und leidenschaftliche Grosseltern.</p>
      </div>
    </div>
  </div>
</section>
