<section class="bg-primary" id="chainreaction">
  <div class="container">
    <div class="row">
      <div class="service-box">
        <h2 class="section-heading">Kettenreaktionen selber bauen</h2>
        <hr class="light">
        <p class="text-muted"></p>

        <object width="400" height="295">
          <param name="movie" value="https://www.youtube.com/embed/UCkXs4MwsoA">
          <param name="allowFullScreen" value="true">
          <param name="allowscriptaccess" value="always">
          <iframe width="400" height="295" src="https://www.youtube.com/embed/UCkXs4MwsoA" frameborder="0" allowfullscreen></iframe>
          </embed>
        </object>

      </div>
    </div>
  </div>
</section>
