<section class="bg-primary" id="chainreaction">
  <div class="container">
    <div class="row">
      <div class="service-box">
        <h2 class="section-heading">Kettenreaktionen selber bauen</h2>
        <hr class="light">
        <p>Tüftel- und Bauphasen mit all ihren Erfolgen und Misserfolgen werden über alle Sinne erlebt. Sie sind in verschiedenen Hirnarealen gespeichert und können als Kompetenzen und Erfahrungen bei neuen Herausforderungen wieder abgerufen werden.
          <br><br>Hände als Erweiterung des Denkens einsetzen und gleichzeitig handmotorische Fertigkeiten fördern.
          <br><br>Kettenreaktionen lassen sich mit vielerlei Materialien aus dem Haushalt zusammenstellen und bauen. Im Garten kann auch Wasser und Brennbares integriert werden.
          <br><br>Die Videosammlung zu diesem Thema inspiriert zu eigenen Kreationen.
        </p>

        <object width="400" height="295">
          <param name="movie" value="https://www.youtube.com/embed/GXrRC3pfLnE">
          <param name="allowFullScreen" value="true">
          <param name="allowscriptaccess" value="always">
          <iframe width="400" height="295" src="https://www.youtube.com/embed/GXrRC3pfLnE" frameborder="0" allowfullscreen></iframe>
          </embed>
        </object>

      </div>
    </div>
  </div>
</section>
