<section class="bg-primary" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Wie wir gefunden werden können</h2>
        <hr class="light">
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <p>Telefon: 062 926 02 62 </p>
        <p>E-Mail: <a href="beat.a.suter@gmail.com">beat.a.suter@gmail.com</a></p>
        <p>E-Mail: <a href="heidi.a.suter@gmail.com">heidi.a.suter@gmail.com</a></p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <p>Beat & Heidi Suter<br>Hirzenbergstrasse 9<br>4800 Zofingen</p>
      </div>
    </div>
  </div>
</section>
