<section class="bg-primary" id="consulting">
  <div class="container">
    <div class="row">
      <div class="service-box">
        <h2 class="section-heading">Beweglichkeit im Kopf und in den Gelenken</h2>
        <hr class="light">
        <p>Es ist uns ein grosses Anliegen Altivitäten bis ins hohe Alter zu entwickeln und erhalten. Balance und Gleichgewicht sind verlässliche Qualitäten um möglichst unfallfrei alt werden zu können. <br>Auch Neues kann im Alter noch gelernt werden. Auch ein gealtertes Gehirn kann neue Areale erschliessen und mit neuen Synapsen vernetzen. So hat Beat im Alter von 60 Jahren gelernt Einrad zu fahren. Es ist möglich! Nur Mut beim Aufbruch zu neuen Ufern.</p>
        <p>Beraten und Anfertigen von Hilfestellungen und Arbeitserleichterungen bei nachlassender Selbstständigkeit</p>
      </div>
    </div>
  </div>
</section>
