<section class="no-padding" id="culture">
  <div class="container">
    <div class="row">
      <div class="service-box">
        <h2 class="section-heading">Die Kultur der Reperatur</h2>
        <hr class="primary">
        <p class="text-muted">"Wir sind industrielle Analphabeten geworden. Es fehlt uns an Wissen, und oft fehlt auch das Werkzeug."<div class="quote">Wolfgang M. Heckl, Autor von "Die Kultur der Reperatur"</div></p>
        <p>Beraten und Anfertigen von Hilfestellungen und Arbeitserleichterungen bei nachlassender Selbstständigkeit</p>
      </div>
    </div>
  </div>
</section>
