<header>
  <div class="header-content">
    <div class="header-content-inner">
      <div class="handzeit">

      </div>

    </div>

  </div>
  <div class="cpyright">
  © Ficht Tanner
</div>
</header>
