<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1><%= t 'content.title' %></h1>
      <hr>
      <ul class="header-content-inner-list">
        <li>Wir öffnen, sammeln und redigieren mit dieser Seite Anregungen und Angebote rund um Beweglichkeit, Handgeschick und Hand-Werk.</li>
        <li>Wir richten unsern Blick speziell auf unsere Hände und ihre Qualitäten. Viel handwerkliches Können liegt heute brach oder droht zu verschwinden,-eine Ressource die es neu zu nutzen gilt.</li>
        <li>Wir lancieren Artikel rund um Bewegung und Hände, welche von geschützen Werkstätten produziert werden können.</li>
      </ul>
    </div>
  </div>
</header>
