<section class="no-padding" id="knowledge">
  <div class="container">
    <div class="row">
      <div class="service-box">
        <h2 class="section-heading">Wo wir uns handwerklich gut auskennen</h2>
        <p>gegliedert nach Bereichen...</p>
        <hr class="primary">
        <ul>
          <li><strong>Werke aus Naturmaterialien</strong><br>
            <strong>Feuer, Erde, Wasser, Luft</strong>
            Land-Art, Bäche stauen, Feuer machen, Mauern bauen und in einfachen Öfen backen
          </li>
          <li>
            <strong>Spiel, Spiele, Spielsachen</strong>
            anfertigen, restaurieren, reparieren, entwickeln
          </li>
          <li>
            <strong>Phänomene, Sinne, Klänge</strong>
            entdecken, beobachten, ausprobieren, experimentieren, selektionieren, ordnen, strukturieren
          </li>
          <li>
            <strong>Steine, Erden, Tone, Gips, Zement</strong>
            betonieren, spitzen, mauern, verputzen, formen, steinhauen, gipsen, modellieren, brennen, giessen
          </li>
          <li>
            <strong>Fasern, Fäden, Textilien, Leder</strong>
            karden, spinnen, nähen, weben, sticken, häkeln, klöppeln, stricken, tünteln, patchworken, färben, drucken, batiken
          </li>
          <li>
            <strong>Bäume, Holz, Holzwerkstoffe</strong>
            sägen, schnitzen, spalten, leimen, nageln, schrauben, feilen, raspeln
          </li>
          <li>
            <strong>Licht, Schatten, Foto, Video, Computer</strong>
            fotografieren
          </li>
          <li>
            <strong>Physik, Elektrizität, Magnetismus</strong>
          </li>
          <li>
            <strong>Zellstoff, Papiere, Karton</strong>
            lesen, schreiben, kalligraphieren, drucken
          </li>
          <li>
            <strong>Glas, Kunststoffe, Folien</strong>
          </li>
          <li>
            <strong>Metalle, Blech, Draht</strong>
            giessen, formen, biegen, stanzen, trennen, polieren, löten, hartlöten, schweissen, gewindeschneiden, nieten
          </li>
          <li>
            <strong>Abfall, Recycling, Wiederverwertung</strong>
          </li>
          <li>
            <strong>Farbpigmente, Farben, Lacke</strong>
            lasieren, vergolden, lackieren
          </li>
          <li>
            <strong>Chemikalien, Klebstoffe, Leimen</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
