<section class="bg-primary" id="lable">
  <div class="container">
    <div class="row">
      <div class="service-box">
        <h2 class="section-heading">Angebote Handzeit <img src="assets/rund_weiss.png" class="logo-round" width="50" alt="Handzeit Logo"></h2>
        <hr class="light">
        <p> Es sind Kleinserien mit einem hohen Anteil Handarbeit.
            <ul>
              <li>Produkte vom Handzeit sind klar in den Formen</li>
              <li>Einfach in der Herstellung</li>
              <li>Aus umweltfreundlichen und gut bearbeitbaren Materialien</li>
            </ul>
          Handzeit-Produkte entwickeln wir für die serielle Herstellung in Werkstätten von Nonprofit-Institutionen. Es sind Unikate,
          welche mit einem grossen Anteil Handarbeit und angepassten Hilfestellungen von Klienten gefertigt werden.
        </p>
      </div>
    </div>
  </div>
</section>
