<section class="bg-primary" id="lable">
  <div class="container">
    <div class="row">
      <div class="service-box">
        <h2 class="section-heading">Angebote eigenes Label <img src="assets/rund_weiss.png" class="logo-round" width="50" alt="Handzeit Logo"></h2>
        <hr class="light">
        <p> Produkte von Hand-Zeit-Label, den Artikeln ohne Batterien!</p><br>
        <p>Texte für Partnerhandschuhe / for ever / ...von Neuem.../ ...immer noch... / ...mein Lieblingsmensch</p>
      </div>
    </div>
  </div>
</section>
