<section class="bg-primary" id="links">
  <div class="container">
    <div class="row">
      <div class="service-box">
        <h2 class="section-heading">Links</h2>
        <hr class="primary">
        <ul>
          <li>Das Handwerk</li>
          <li>Mobilabfhnw.ch</li>
          <li>Repaircafés</li>
        </ul>
      </div>
    </div>
  </div>
</section>
