<div id="overlay">
  <div>
    <div id="specialBox">
      <br>
      <button type="button" class="btn btn-success" onmousedown="toggleOverlay()">News schliessen</button><br>
      <p><h1><%= @newest.title %><br></h1>
      <%= @newest.content %><br>
       </p><br>
      <%= image_tag(@newest.picture_url) if @newest.picture.present? %>
    </div>
  </div>
</div>



