<div id="overlay">
  <div>
    <div id="specialBox">
      <p><%= @newest.title %><br>
      <%= @newest.content %></p>

      <button onmousedown="toggleOverlay()">News schliessen</button>
    </div>
  </div>
</div>



