<div id="overlay">
  <div>
    <div id="specialBox">
      <br>
      <button type="button" class="btn btn-info" onmousedown="toggleOverlay()">News schliessen</button>
      <br>
      <br/>
      <img src="assetsumzug.jpeg" width="800" alt="Suters Umzug">
    </div>
  </div>
</div>



