<section class="no-padding" id="time_for_hands">
  <div class="container">
    <div class="row">
        <div class="service-box">
          <h2 class="section-heading"><%= t 'services.title.box1' %></h2>
          <hr class="primary">
          <p class="text-muted">Handmotorik (Finger spreizen, Jonglieren, Fingerspiele, Zeichnen, Malen, Schreiben, Fingerbeweglichkeit, Tasten, Fühlen)</p>
          <p>link zum Film: Das Handwerk (Youtube Modul einbinden)</p>
        </div>
    </div>
  </div>
</section>
