<section class="no-padding" id="time_for_hands">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading"><%= t 'services.title.box1' %></h2>
          <hr class="primary">
          <ul>
            <li>Wir öffnen, sammeln und redigieren mit dieser Seite Anregungen und Angebote rund um Beweglichkeit, Handgeschick und Hand-Werk.</li>
            <li>Wir richten unsern Blick speziell auf unsere Hände und ihre Qualitäten. Viel handwerkliches Können liegt heute brach oder droht zu verschwinden,-eine Ressource die es neu zu nutzen gilt.</li>
            <li>Wir lancieren Artikel rund um Bewegung und Hände, welche von geschützen Werkstätten produziert werden können.</li>
          </ul>

          <p class="text-muted">Handmotorik (Finger spreizen, Jonglieren, Fingerspiele, Zeichnen, Malen, Schreiben, Fingerbeweglichkeit, Tasten, Fühlen)</p>

            <object width="480" height="295">
              <param name="movie" value="https://www.youtube.com/watch?v=ZT1-v4-1Wzg">
              <param name="allowFullScreen" value="true">
              <param name="allowscriptaccess" value="always">
              <iframe width="854" height="480" src="https://www.youtube.com/embed/ZT1-v4-1Wzg" frameborder="0" allowfullscreen></iframe>

              </embed>
            </object>

      </div>
    </div>
  </div>
</section>
