<section class="no-padding" id="time">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Zeit, Zeitmesser</h2>
        <hr class="primary">
          <img src="assets/handkreis.png" class="img-centered" width="420" alt="Kreis aus 12 sich ineinander greifenden Händen">
            <p class="text-muted">
          In den frühen achtziger Jahren entstand bei uns ein Buch zum Bau einfacher Wetterbeobachtungsgeräte. In der Folge planten wir etwas Ähnliches zur Zeitmessung. Das haben wir dann verworfen, weil schon viel zu diesem Thema auf dem Markt war.
          <br>
          Fragen in diesem Zusammenhang sind jedoch bis heute unbeantwortet. Eine davon ist die  grosse gedankliche Übereinstimmung von menschlichen Händen und der Einteilung der Welt in die  360° Winkelgrade der Geometrie, und daraus abgeleitet, die heutigen Zifferblätter von analogen Uhren.
          Menschen haben mit Sicherheit schon vor tausenden von Jahren den Körper als Masseinheiten benutzt. So entstanden Ellen und Fuss, während die Zeiteinteilung offenbar nach Massgabe der Finger entstanden sein kann.
          Auf babylonischen Tontafeln wurden solche Dokumente bei Ausgrabungen gefunden. Vor über 5000 Jahren verwendeten die Bewohner des eurasischen Halbmondes, zum dem auch das antike Babylon gehörte, für die Zeitmessung Zahlenfolgen die im Sonnensystem UND bei den Menschen zu finden sind.
          Mit den heute gebräuchlichen 360° Winkelgraden für eine tägliche Erddrehung, näherten sie sich schon dem Jahr mit den 365 Tagen und den 12 monatlichen Mondphasen im Kalenderjahr. Diese Grundannahmen wurden von den Ägyptern, den Griechen und den Römern weitgehend übernommen und verfeinert. Parallel zu dieser Entwicklung verbreitete sich in der Mathematik das Dezimalsystem.
          Alle Versuche die Uhrzeit ins Dezimalsystem zu übertragen sind bis heute gescheitert.<br>
          Erst in unserer immer schneller werdenden Zeit, wurden Hundertstel- und Tausendstelsekunden erfunden.</p>
          <img src="assets/hand_skizze.jpg" class="img-centered" width="420" alt="Skizze einer Hand mit abgespreizten Fingern. Der Winkelzwischenraum der Finger beträgt 15 Grad.">
          <p class="text-muted">
          In einer Hand mit gespreizten Fingern sind plus-minus immer noch etwa 15° Winkelgrade üblich. Das entspricht der am Himmel beobachtbaren stündlichen Bewegung der Sonne.
          Kombiniert mit einem Fixpunkt, einem Berg, einer Behausung oder einem Baum, kann so der Lauf
          der Zeit beobachtet werden.<br>
          180° von Sonnenaufgang bis Sonnenuntergang und weitere 180° bis die Sonne wieder aufgeht, ergibt
          die 360° des Kreises.
          <br>
          Nach Massgabe der Finger und der Beobachtung der Sonne und des Mondes sind die Grundlagen
          für unsere heute gebräuchlichen Uhren mit Zifferblättern entstanden.<br>
          Eine Hand-Zeit-Uhr eben.<br>
          Ein Beweis für unsere These ist im Foto oben nachzuzählen:
          <br>
          12 Hände sind 60 Finger, die Hände stehen für die Stunden, die Finger für die Minuten.
          <br>
          Sachverhalte und Zusammenhänge welche einen Bezug von Händen zu Zifferblättern aufzeigen, haben wir auch in grösseren Werken zur Geschichte der Zeitmessung keine gefunden.
          <br>
          Dass man mit den Händen rechnen kann, weiss jedes Kind. Bezüge zu Händen und Zeitrechnungen haben wir jedoch in keinem uns bekannten Mathe-Lehrmittel gefunden.
          Die grosse Ausnahme in unserem Dezimalsystem, das Sechzigersystem der Zeit und des Kreises, sind doch handfest und ganz Nahe bei uns selber zu finden. In solchen Zusammenhängen erlebt, ist der allgegenwärtige Umgang mit Zeit viel begreifbarer.
        </p>
      </div>
    </div>
  </div>
</section>
