<section class="no-padding" id="time">
  <div class="container">
    <div class="row">
      <div class="service-box">
        <h2 class="section-heading">Zeit, Zeitmesser</h2>
        <hr class="primary">
        <p class="text-muted"></p>
      </div>
    </div>
  </div>
</section>
