<section class="no-padding" id="weather">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Wetter, Wetterbeobachtung</h2>
        <hr class="primary">

        <img src="assets/pdf/station.jpg" width="80%" alt="Aeste pdf preview on link">
        <br/>
        <p>Mit dem Wetter sind wir jeden Tag konfrontiert. Wetterabläufe bleiben auch in Zukunft schwierig zu prognostizieren. Der Schulweg ist die letze Freiheit der Kinder, wo sie nicht direkt überwacht werden. Elterntaxis auf dem Schulweg und zu den verschiedenen Freizeitaktivitäten verunmöglichen den Kindern eine tägliche, spielerische Auseinandersetzung mit dem Phänomen des Wetters.<br>Die Klimaerwärmung und die mit ihr verbundenen Veränderungen ist Tatsache! Wetter findet im Freien statt und ist zu erforschen, zu erleben mit allen Sinnen und zu beobachten.<br>Eine Sensibilisierung zum Wettergeschehen ist mit alltäglichen Produkten und einfachen Haushaltswerkzeugen möglich.</p>

        <div id="pdfInARow">
                <a href="assets/pdf/Aeste.pdf" alt="Aeste pdf link">
                  <div id="wrapper">
                    <img src="assets/pdf/preview/aeste.jpg" alt="Aeste pdf preview on link">
                    <p class="text">Äste PDF</p>
                  </div>
                </a>


                <a href="assets/pdf/Lufth.pdf" alt="Lufth pdf link">
                  <div id="wrapper">
                    <img src="assets/pdf/preview/lufth.jpg" alt="Lufth pdf preview on link">
                    <p class="text">Lufth PDF</p>
                  </div>
                </a>


                <a href="assets/pdf/Feucht.pdf" alt="Feutigkeit pdf link">
                  <div id="wrapper">
                    <img src="assets/pdf/preview/feuchtigkeit.jpg" alt="feuchtigkeit pdf preview on link">
                    <p class="text">Feuchtigkeit PDF</p>
                  </div>
                </a>


                <a href="assets/pdf/Temp.pdf" alt="Temperatur pdf link">
                  <div id="wrapper">
                    <img src="assets/pdf/preview/temperatur.jpg" alt="temperatur pdf preview on link">
                    <p class="text">Temperatur PDF</p>
                  </div>
                </a>




        </div>
      </div>
    </div>
  </div>
</section>
