<section class="no-padding" id="weather">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Wetter, Wetterbeobachtung</h2>
        <hr class="primary">
        <p>Mit dem Wetter sind wir jeden Tag konfrontiert. Wetterabläufe bleiben auch in Zukunft schwierig zu prognostizieren. Der Schulweg ist die letze Freiheit der Kinder, wo sie nicht direkt überwacht werden. Elterntaxis auf dem Schulweg und zu den verschiedenen Freizeitaktivitäten verunmöglichen den Kindern eine tägliche, spielerische Auseinandersetzung mit dem Phänomen des Wetters.<br>Die Klimaerwärmung und die mit ihr verbundenen Veränderungen ist Tatsache! Wetter findet im Freien statt und ist zu erforschen, zu erleben mit allen Sinnen und zu beobachten.<br>Eine Sensibilisierung zum Wettergeschehen ist mit alltäglichen Produkten und einfachen Haushaltswerkzeugen möglich.<br>Link: Hier Beispiele für Erlebnisse mit dem Element Wetter und Bau von einfachen Beobachtungsgeräten zu Luftfeuchtigkeit, Temperatur und Luftdruck.</p>
      </div>
    </div>
  </div>
  <a href='#' onclick='toggleOverlay()'>Click here to show the overlay</a>
</section>
